body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #fffef8;
    color: #333;
}

.topbar {
    background: #f7b500;
    color: #fff9e6;
    font-weight: 600;
    font-size: 14px;
}

.topbar-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* chia đều 2 bên */
}

.topbar-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

@keyframes blinkText {
    0%, 100% { opacity: 1; color: #fff9e6; }
    50% { opacity: 0.6; color: #ffe082; }
}

.topbar-links a {
    color: #fff;
    text-decoration: none;
    opacity: 0.95;
    font-weight: 600;
    animation: blinkText 2.5s ease-in-out infinite;
}

.topbar-links a:nth-child(1) { animation-delay: 0s; }
.topbar-links a:nth-child(2) { animation-delay: 0.5s; }
.topbar-links a:nth-child(3) { animation-delay: 1s; }


.topbar .welcome {
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, #fff 0%, #fff 30%, #ffe082 50%, #fff 70%, #fff 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}


header{
    background:#fff;
    border-bottom:2px solid #d8c08a;
}
.header-inner{
    max-width:1200px;
    margin:0 auto;
    padding:6px 24px;
    display:grid;
    grid-template-columns:auto 1fr auto;
    align-items:center;
    column-gap:24px;
    height:84px;  }
